body{
    height: 1000vh;
    background-color: rgb(20,21,28); 
    margin:0px;
} 


.bg {
    width:100%;
    height:900px;
    background-image: url(headerimgshoe.png);
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
}



li{
    list-style: none;
}
li:hover{
    transform: scale(1.3    );
}

a{
    text-decoration: none;
    color: #fff;
    font-size: 1rem;
    
}

a:hover{
    color:#F76650;
    
}

header{
    position: relative;
    padding: 0 2rem;
}

.navbar{
    width: 100%;
    height: 40px;
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.navbar .logo a {
    font-size: 1.5rem;
    font-weight: bold;
  
}

img{
    
    
    box-sizing: border-box;
    max-width: 6vh;
}

.navbar .link{
    display: flex;
    gap: 2rem;
    
}
.action_btn{
    padding:5px;
    background-color: aqua;
    border-radius:50px;
    color:black;
}

.action_btn:hover{
     transform: scale(1.1);
}


.box1{
    display: flex;
    flex-direction: row;
    width:50%;
    height:5.6%;
    justify-content: space-between;
    align-items: center;
    background-color: #F76650;
    border-top-right-radius: 30px;
    border-bottom-right-radius: 30px;
    overflow: hidden;
    font-size: 100%;
   
}

.box1 p{
    font-family: 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color:white;
    left:0;
    right:0;
    max-width:100%;
    max-height:100%;
    padding-left: 5%;
}

.box1 p:hover{
    transform: scale(1.2);
}

 .box1 img{
    left:0;
    right:0;
    max-width:80%;
    max-height:100%;
    padding: 10%;
}

.box1 img:hover{
    transform: scale(1.2);
}
